In [1]:
import pandas as pd
from collections import Counter

In [2]:
data = pd.read_csv('../Data/netflix_titles.csv')

### Inspect Data

In [3]:
data

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

### Handle N/A Values

In [5]:
data.loc[data.country.isna(), 'country'] = 'TBD'

In [6]:
data.loc[data.cast.isna(), 'cast'] = 'TBD'

In [7]:
data.loc[data.director.isna(), 'director'] = 'TBD'

In [8]:
data.loc[data.rating.isna(), 'rating'] = 'TBD'

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      6234 non-null   object
 4   cast          6234 non-null   object
 5   country       6234 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6234 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

# Elongating Data

### Elongate Listed in Categories

In [10]:
categories = data.listed_in.str.split(',', expand=True)

In [11]:
data_long = pd.concat([data, categories], axis=1)

In [12]:
data_long = data_long.melt(id_vars = list(data_long.loc[:,'show_id':'description'].columns), value_vars=list(data_long.loc[:,range(0,3)].columns), value_name='Category').drop(columns=['variable','listed_in'])

In [13]:
empty_Category_indexes = data_long.loc[data_long.Category.isna()].index
data_long.drop(empty_Category_indexes, inplace = True)

In [14]:
data_long.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13670 entries, 0 to 18700
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       13670 non-null  int64
 1   type          13670 non-null  object
 2   title         13670 non-null  object
 3   director      13670 non-null  object
 4   cast          13670 non-null  object
 5   country       13670 non-null  object
 6   date_added    13649 non-null  object
 7   release_year  13670 non-null  int64
 8   rating        13670 non-null  object
 9   duration      13670 non-null  object
 10  description   13670 non-null  object
 11  Category      13670 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.4+ MB

### Elongate Actor

In [15]:
split_cast = data_long.cast.str.split(',', expand=True)

In [16]:
data_long = pd.concat([data_long, split_cast], axis=1)

In [17]:
data_long = data_long.melt(id_vars = list(data_long.loc[:,'show_id':'Category'].columns), value_vars=list(data_long.loc[:,range(0,50)].columns), value_name='Actor').drop(columns=['variable','cast'])

In [18]:
empty_Actor_index = data_long.loc[data_long.Actor.isna()].index

In [19]:
empty_Actor_index = data_long.loc[data_long.Actor.isna()].index
data_long.drop(empty_Actor_index, inplace = True)

In [20]:
data_long.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103808 entries, 0 to 683356
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       103808 non-null  int64
 1   type          103808 non-null  object
 2   title         103808 non-null  object
 3   director      103808 non-null  object
 4   country       103808 non-null  object
 5   date_added    103649 non-null  object
 6   release_year  103808 non-null  int64
 7   rating        103808 non-null  object
 8   duration      103808 non-null  object
 9   description   103808 non-null  object
 10  Category      103808 non-null  object
 11  Actor         103808 non-null  object
dtypes: int64(2), object(10)
memory usage: 10.3+ MB

### Elongate Country

In [21]:
split_country = data_long.country.str.split(',', expand=True)

In [22]:
data_long = pd.concat([data_long, split_country], axis=1)

In [23]:
data_long = data_long.melt(id_vars = list(data_long.loc[:,'show_id':'Actor'].columns), value_vars=list(data_long.loc[:,range(0,12)].columns), value_name='Country').drop(columns=['variable','country'])

In [24]:
empty_country_indexes = data_long.loc[data_long.Country.isna()].index
data_long.drop(empty_country_indexes, inplace = True)

In [25]:
data_long.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129151 entries, 0 to 1151956
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       129151 non-null  int64
 1   type          129151 non-null  object
 2   title         129151 non-null  object
 3   director      129151 non-null  object
 4   date_added    128992 non-null  object
 5   release_year  129151 non-null  int64
 6   rating        129151 non-null  object
 7   duration      129151 non-null  object
 8   description   129151 non-null  object
 9   Category      129151 non-null  object
 10  Actor         129151 non-null  object
 11  Country       129151 non-null  object
dtypes: int64(2), object(10)
memory usage: 12.8+ MB

### Elongate Director

In [26]:
split_director = data_long.director.str.split(',', expand=True)

In [27]:
split_director.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129151 entries, 0 to 1151956
Data columns (total 13 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       129151 non-null  object
 1   1       7439 non-null    object
 2   2       882 non-null     object
 3   3       545 non-null     object
 4   4       359 non-null     object
 5   5       315 non-null     object
 6   6       315 non-null     object
 7   7       275 non-null     object
 8   8       253 non-null     object
 9   9       225 non-null     object
 10  10      132 non-null     object
 11  11      78 non-null      object
 12  12      15 non-null      object
dtypes: object(13)
memory usage: 13.8+ MB

In [28]:
data_long = pd.concat([data_long, split_director], axis=1)

In [29]:
data_long = data_long.melt(id_vars = list(data_long.loc[:,'show_id':'Country'].columns), value_vars=list(data_long.loc[:,range(0,13)].columns), value_name='Director').drop(columns=['variable','director'])

In [30]:
empty_director_indexes = data_long.loc[data_long.Director.isna()].index
data_long.drop(empty_director_indexes, inplace = True)

In [31]:
data_long.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139984 entries, 0 to 1650203
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       139984 non-null  int64
 1   type          139984 non-null  object
 2   title         139984 non-null  object
 3   date_added    139825 non-null  object
 4   release_year  139984 non-null  int64
 5   rating        139984 non-null  object
 6   duration      139984 non-null  object
 7   description   139984 non-null  object
 8   Category      139984 non-null  object
 9   Actor         139984 non-null  object
 10  Country       139984 non-null  object
 11  Director      139984 non-null  object
dtypes: int64(2), object(10)
memory usage: 13.9+ MB

### Data Cleaning

In [32]:
df_sel = data_long.select_dtypes(['object'])
data_long[df_sel.columns] = df_sel.apply(lambda x: x.str.strip())

In [33]:
data_long.type.nunique()

2

In [34]:
data_long.type = data_long.type.astype('category')

In [35]:
data_long.date_added = data_long.date_added.astype('datetime64')

In [36]:
data_long.release_year.nunique()

72

In [37]:
data_long.release_year = data_long.release_year.astype('category')

In [38]:
data_long.rating.nunique()

15

In [39]:
data_long.rating = data_long.rating.astype('category')

In [40]:
data_long.Category = data_long.Category.astype('category')

In [41]:
data_long.Country.nunique()

112

In [42]:
data_long.Country = data_long.Country.astype('category')

In [43]:
data_long.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139984 entries, 0 to 1650203
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   show_id       139984 non-null  int64
 1   type          139984 non-null  category
 2   title         139984 non-null  object
 3   date_added    139825 non-null  datetime64[ns]
 4   release_year  139984 non-null  category
 5   rating        139984 non-null  category
 6   duration      139984 non-null  object
 7   description   139984 non-null  object
 8   Category      139984 non-null  category
 9   Actor         139984 non-null  object
 10  Country       139984 non-null  category
 11  Director      139984 non-null  object
dtypes: category(5), datetime64[ns](1), int64(1), object(5)
memory usage: 9.2+ MB

## Top 10 Countries with the most movies on Netflix

In [ ]:
def to_list(x):
    return x.astype('object')
    
collect_countries = data_long.groupby(['show_id']).Country.unique()

flatten_list = collect_countries.apply(to_list).to_list()
flatten_list = [x.tolist() for x in flatten_list]
flatten_list = [x for sub in flatten_list for x in sub if x != 'TBD']
Counter(flatten_list).most_common(10)

In [ ]:
data_long.info()

In [ ]:
blank_entries_index = data_long[(data_long['Country'] == '') | (data_long['Actor'] == '') | (data_long['Director'] == '') | (data_long['Category'] == '')].index